<div class="content">
  <div class="content-header">
   <div class="content-bg"></div>
   <div class="content-text">
    <h1>Ranking</h1>
    <p>Classement du Top 5 du Versus Fighting</p>
   </div>
  </div>  
  
  <div class="content-ranking-top-5">
    <div class="ranking-top-5 tekken7">
    <%= image_tag "t7.png", alt: "Tekken 7", class: "ranking-logo" %>
        <table class="table-ranking">
            <thead>
                <tr>
                    <th>Rang</th>
                    <th>Nom</th>
                    <th>Team</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td> Doug </td>
                    <td> Deus </td>
                    <td> 1700 </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td> kalak </td>
                    <td> Team 1 </td>
                    <td> 1670 </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td> chris </td>
                    <td> Team 2 </td>
                    <td> 1600 </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td> gaspar </td>
                    <td>   </td>
                    <td> 1550 </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td> Alfa </td>
                    <td> Red Bull </td>
                    <td> 1500 </td>
                </tr>
            </tbody>
    </table>
  </div>

  <div class="ranking-top-5 doa6">
  <%= image_tag "doa6.png", alt: "Dead or Alive 6", class: "ranking-logo" %>
      <table class="table-ranking">
          <thead>
              <tr>
                  <th>Rang</th>
                    <th>Nom</th>
                    <th>Team</th>
                  <th>Score</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>1</td>
                  <td> PreSoul </td>
                  <td>  </td>
                  <td> 1700 </td>
              </tr>
              <tr>
                  <td>2</td>
                  <td> Kinai </td>
                  <td> kya </td>
                  <td> 1670 </td>
              </tr>
              <tr>
                  <td>3</td>
                  <td> Nymph </td>
                  <td> Orange </td>
                  <td> 1600 </td>
              </tr>
              <tr>
                  <td>4</td>
                  <td> Despera </td>
                  <td>  </td>
                  <td> 1550 </td>
              </tr>
              <tr>
                  <td>5</td>
                  <td> croute chef </td>
                  <td> </td>
                  <td> 1500 </td>
              </tr>
          </tbody>
  </table>
  </div>

  <div class="ranking-top-5 mk11">
  <%= image_tag "mk11.png", alt: "Mortal Kombat 11", class: "ranking-logo" %>
      <table class="table-ranking">
          <thead>
              <tr>
                  <th>Rang</th>
                  <th>Nom</th>
                  <th>Team</th>
                  <th>Score</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>1</td>
                  <td> RZA </td>
                  <td> cool </td>
                  <td> 1700 </td>
              </tr>
              <tr>
                  <td>2</td>
                  <td> White </td>
                  <td>  </td>
                  <td> 1670 </td>
              </tr>
              <tr>
                  <td>3</td>
                  <td> Mickadi </td>
                  <td>  </td>
                  <td> 1600 </td>
              </tr>
              <tr>
                  <td>4</td>
                  <td> Raf </td>
                  <td> dede </td>
                  <td> 1580 </td>
              </tr>
              <tr>
                  <td>5</td>
                  <td> Layo </td>
                  <td>  </td>
                  <td> 1570 </td>
              </tr>
          </tbody>
  </table>
</div>


</div>

<!--<div class="content">
	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<h3>Top 5 - Dead Or Alive 6 - PC</h3>
				<div class="table-responsive">
					<table class="table table-striped table-hover">
						<thead>
							<tr align="center">
								<th>#</th>
								<th>Player</th>
								<th>Elo</th>
							</tr>
						</thead>
						<tbody>
							<% @game_statistic_doa6.get_player_pc.each_with_index do |player, i| %>
								<% break if i > 4 %>
								<tr align="center">
									<th><%= i + 1 %></td>
									<td><%= link_to player.nickname, player_path(player) %></td>
									<td><%= player.elos.last.value.round %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
                </div>
                

				<h3>Top 5 - Dead Or Alive 6 - PS4</h3>
				<div class="table-responsive">
					<table class="table table-striped table-hover">
						<thead>
							<tr align="center">
								<th>#</th>
								<th>Player</th>
								<th>Elo</th>
							</tr>
						</thead>
						<tbody>
							<% @game_statistic_doa6.get_player_ps4.each_with_index do |player, i| %>
								<% break if i > 4 %>
								<tr align="center">
									<th><%= i + 1 %></td>
									<td><%= link_to player.nickname, player_path(player) %></td>
									<td><%= player.elos.last.value.round %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-4">
            <h3>Top 10 - Tekken 7</h3>
            
			<div class="table-responsive">
				<table class="table table-striped table-hover">
					<thead>
						<tr align="center">
							<th>#</th>
							<th>Player</th>
							<th>Elo</th>
						</tr>
					</thead>
					<tbody>
						<% @game_statistic_t7.get_player_top_10_all.each_with_index do |player, i| %>
							<% break if i > 9 %>
							<tr align="center">
								<th><%= i + 1 %></td>
								<td><%= link_to player.nickname, player_path(player) %></td>
								<td><%= player.elos.last.value.round %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row" align="right">
		<div class="col-md-12">
			<p class="subtext"> Dernière mise à jour le 12.06.2019. Prochaine mise à jour le 19.06.2019.</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<h3>Données Dead Or Alive 6 et rajout des informations tournois</h3>
	</div>
	<p class="subtext">News du 15/06/2019</p>
	<div class="row">
		<p>
			Mise en forme d'une première version pour les joueurs de Dead Or Alive 6 pour les tournois online "La Bagarre Rank or Die". Les classements joueurs sont mis à jour.
		</p>
		<p>
			Rajout des informations par tournoi regroupant les participants et les matches.
		</p>
	</div>
	<div class="row">
		<h3>Ouverture Version Beta</h3>
	</div>
	<p class="subtext">News du 12/06/2019</p>
	<div class="row">
		<p>
			Mise en place d'une première version de ranking pour les joueurs de Tekken 7 de la région parisienne. Les classements joueurs sont mis à jour.
		</p>
	</div>
</div>-->