<h1 align="center">Ranking Parisien - Saison 1 - SMBU</h1>
<div class="row">
	<ul>
		<li>Nombre de joueur: <%= @array_players.count %></li>
		<li>Nombre de tournois: <%= @events.count %></li>
	</ul>
</div>
<div class="row">
	<div class="col-md-6">
		<h2 align="center">Classement Joueur:</h2>
		<table class="table">
			<tr align="center">
				<th>Rank</th>
				<th>Joueur</th>
				<th>Team</th>
				<th>Elo actuel</th>
				<th>Nombre de match</th>
				<th>Win Rate</th>
				<th>Nombre de tournoi</th>
			</tr>
			<% @array_players.each_with_index do |player, i| %>
			<tr align="center">
				<td><%= i + 1 %></td>
				<td><%= link_to player.nickname, player_path(player.id) %></td>
				<td><%= player.team %></td>
				<td><%= player.elos.sort.last.value.round %></td>
				<td><%= player.elos.count - 1 %></td>
				<td><%= @hash_win_rate[player.nickname] %> %</td>
				<td><%= @hash_nb_tournoi[player.nickname] %></td>
			<tr>
			<% end %>
		</table>
	</div>
	<div class="col-md-6">
		<table class="table">
			<h2 align="center">Fighting Event</h2>
			<tr align="center">
				<th>Nom tournoi</th>
				<th>Date tournoi</th>
				<th>Nombre de participant</th>
				<th>Nombre de match</th>
			</tr>
			<% @events.each do |event| %>
				<% unless Match.find_by(event_id: event.id).nil? %>
					<tr align="center">
						<td><%= link_to event.tournoi_name, event_path(event.id) %></td>
						<td><%= event.tournoi_date %></td>
						<td><%= @hash_participant[event.id] %></td>
						<td><%= @hash_match[event.id] %></td>
					</tr>
				<% end %>
			<% end %>
		</table>
	</div>
</div>