<div class="container">
	<div class="row">
		<div class="col-md-4 offset-md-4">
			<div class="table-responsive">
				<table class="table table-striped table-hover">
					<thead>
						<tr align="center">
							<th colspan="2" style="border-top: none;">Région statistics</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="border-right: 1px solid #999" align="right">Début</td>
							<td></td>
						</tr>
						<tr>
							<td style="border-right: 1px solid #999" align="right">Last update</td>
							<td></td>
						</tr>
						<tr>
							<td style="border-right: 1px solid #999" align="right">Total players</td>
							<td><%= @game_statistic.get_player_all.count %></td>
						</tr>
						<tr>
							<td style="border-right: 1px solid #999" align="right">Active players</td>
							<td><%= @game_statistic.get_player_saison.count %></td>
						</tr>
						<tr>
							<td style="border-right: 1px solid #999" align="right">Match</td>
							<td></td>
						</tr>
						<tr>
							<td style="border-right: 1px solid #999" align="right">Tournois</td>
							<td><%= @game_statistic.get_tournoi_all.count %></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-striped table-hover">
					<thead>
						<tr align="center">
							<th>#</th>
							<th>Player</th>
							<th>Team</th>
							<th>Elo</th>
							<th>Win Rate</th>
							<th>Total match saison</th>
							<th>Total tournoi saison</th>
							<th>Total match</th>
							<th>Total tournoi</th>
						</tr>
					</thead>
					<tbody>
						<% @game_statistic.get_player_saison.each_with_index do |player, i| %>
							<tr align="center">
								<td><%= i + 1 %></td>
								<td><%= link_to player.nickname, player_path(player.id) %></td>
								<td><%= player.team %></td>
								<td><%= player.elos.sort.last.value.round %></td>
								<td><%= @game_statistic.get_win_rate[player.nickname] %> %</td>
								<td><%= player.nb_match_saison %></td>
								<td><%= player.nb_tournoi_saison %></td>
								<td><%= player.nb_match_total %></td>
								<td><%= player.nb_tournoi_total %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>