<div class="content">
    <div class="player-informations">
        <h2>Profile Gamer</h2>
        <%=  image_tag("profile_player.png", alt: "profile picture", class: "") %>
        <h3>Pseudo: Kalak</h3>
        <p>Nom: Mickaia </p>
        <p>Team: GRIP</p>
        <p>Current Rank: 1st</p>
    </div>
    <div class="player-ranking-elo">
    <table class="table" style="overflow-x: scroll;">
        <thead>
            <tr align="center">
                <th>Elo</th>
                <th>Platform</th>
                <th>Adversaire</th>
                <th>Résultat</th>
                <th>Différence elo</th>
            </tr>
        </thead>
        <tbody>
            <tr align="center">
                <td>1709</td>
                <td>PS4</td>
                <td>
                        DougFromParis		
                </td>
                <td>
                    Défaite
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-3 offset-md-3">
                        -
                        14
                        </div>
                        <div class="col-md-1">
                                <i class="fa fa-arrow-circle-down" style="color: red;"></i>
                        </div>
                    </div>
                </td>
                    </tr>
                    <tr align="center">
                        <td>1723</td>
                        <td>PS4</td>
                        <td>
										Yamaturga		
								</td>
								<td>
										Victoire

								</td>
								<td>
									<div class="row">
										<div class="col-md-3 offset-md-3">
										+
										13
										</div>
										<div class="col-md-1">
												<i class="fa fa-arrow-circle-up" style="color: green;"></i>
										</div>
									</div>
								</td>
							</tr>
							<tr align="center">
								<td>1710</td>
								<td>PS4</td>
								<td>
										DougFromParis		
								</td>
								<td>
										Défaite

								</td>
								<td>
									<div class="row">
										<div class="col-md-3 offset-md-3">
										-
										15
										</div>
										<div class="col-md-1">
												<i class="fa fa-arrow-circle-down" style="color: red;"></i>
										</div>
									</div>
								</td>
							</tr>
							<tr align="center">
								<td>1725</td>
								<td>PS4</td>
								<td>
										Rude		
								</td>
								<td>
										Victoire

								</td>
								<td>
									<div class="row">
										<div class="col-md-3 offset-md-3">
										+
										13
										</div>
										<div class="col-md-1">
												<i class="fa fa-arrow-circle-up" style="color: green;"></i>
										</div>
									</div>
								</td>
							</tr>
							<tr align="center">
								<td>1711</td>
								<td>PS4</td>
								<td>
										G@$p@R		
								</td>
								<td>
										Victoire

								</td>
								<td>
									<div class="row">
										<div class="col-md-3 offset-md-3">
										+
										18
										</div>
										<div class="col-md-1">
												<i class="fa fa-arrow-circle-up" style="color: green;"></i>
										</div>
									</div>
								</td>
							</tr>
							<tr align="center">
								<td>1693</td>
								<td>PS4</td>
								<td>
										Satoru		
								</td>
								<td>
										Victoire

								</td>
								<td>
									<div class="row">
										<div class="col-md-3 offset-md-3">
										+
										11
										</div>
										<div class="col-md-1">
												<i class="fa fa-arrow-circle-up" style="color: green;"></i>
										</div>
									</div>
								</td>
							</tr>
							<tr align="center">
								<td>1682</td>
								<td>PS4</td>
								<td>
										Chris		
								</td>
								<td>
										Victoire

								</td>
								<td>
									<div class="row">
										<div class="col-md-3 offset-md-3">
										+
										21
										</div>
										<div class="col-md-1">
												<i class="fa fa-arrow-circle-up" style="color: green;"></i>
										</div>
									</div>
								</td>
							</tr>
							<tr align="center">
								<td>1661</td>
								<td>PS4</td>
								<td>
										Chris		
								</td>
								<td>
										Victoire

								</td>
								<td>
									<div class="row">
										<div class="col-md-3 offset-md-3">
										+
										24
										</div>
										<div class="col-md-1">
												<i class="fa fa-arrow-circle-up" style="color: green;"></i>
										</div>
									</div>
								</td>
							</tr>
							<tr align="center">
								<td>1637</td>
								<td>PS4</td>
								<td>
										Nindo		
								</td>
								<td>
										Victoire

								</td>
								<td>
									<div class="row">
										<div class="col-md-3 offset-md-3">
										+
										22
										</div>
										<div class="col-md-1">
												<i class="fa fa-arrow-circle-up" style="color: green;"></i>
										</div>
									</div>
								</td>
							</tr>
							<tr align="center">
								<td>1615</td>
								<td>PS4</td>
								<td>
										Elix		
								</td>
								<td>
										Victoire

								</td>
								<td>
									<div class="row">
										<div class="col-md-3 offset-md-3">
										+
										23
										</div>
										<div class="col-md-1">
												<i class="fa fa-arrow-circle-up" style="color: green;"></i>
										</div>
									</div>
								</td>
							</tr>
							<tr align="center">
								<td>1592</td>
								<td>PS4</td>
								<td>
										G@$p@R		
								</td>
								<td>
										Victoire

								</td>
								<td>
									<div class="row">
										<div class="col-md-3 offset-md-3">
										+
										24
										</div>
										<div class="col-md-1">
												<i class="fa fa-arrow-circle-up" style="color: green;"></i>
										</div>
									</div>
								</td>
							</tr>
							<tr align="center">
								<td>1568</td>
								<td>PS4</td>
								<td>
										Altesko		
								</td>
								<td>
										Victoire

								</td>
								<td>
									<div class="row">
										<div class="col-md-3 offset-md-3">
										+
										23
										</div>
										<div class="col-md-1">
												<i class="fa fa-arrow-circle-up" style="color: green;"></i>
										</div>
									</div>
								</td>
							</tr>
							<tr align="center">
								<td>1545</td>
								<td>PS4</td>
								<td>
										VEX		
								</td>
								<td>
										Victoire

								</td>
								<td>
									<div class="row">
										<div class="col-md-3 offset-md-3">
										+
										11
										</div>
										<div class="col-md-1">
												<i class="fa fa-arrow-circle-up" style="color: green;"></i>
										</div>
									</div>
								</td>
							</tr>
							<tr align="center">
								<td>1534</td>
								<td>PS4</td>
								<td>
										Chris		
								</td>
								<td>
										Défaite

								</td>
								<td>
									<div class="row">
										<div class="col-md-3 offset-md-3">
										-
										14
										</div>
										<div class="col-md-1">
												<i class="fa fa-arrow-circle-down" style="color: red;"></i>
										</div>
									</div>
								</td>
							</tr>
							<tr align="center">
								<td>1548</td>
								<td>PS4</td>
								<td>
										Kitope		
								</td>
								<td>
										Victoire

								</td>
								<td>
									<div class="row">
										<div class="col-md-3 offset-md-3">
										+
										14
										</div>
										<div class="col-md-1">
												<i class="fa fa-arrow-circle-up" style="color: green;"></i>
										</div>
									</div>
								</td>
							</tr>
							<tr align="center">
								<td>1534</td>
								<td>PS4</td>
								<td>
										Onii =D		
								</td>
								<td>
										Victoire

								</td>
								<td>
									<div class="row">
										<div class="col-md-3 offset-md-3">
										+
										13
										</div>
										<div class="col-md-1">
												<i class="fa fa-arrow-circle-up" style="color: green;"></i>
										</div>
									</div>
								</td>
							</tr>
							<tr align="center">
								<td>1521</td>
								<td>PS4</td>
								<td>
										Rude		
								</td>
								<td>
										Victoire

								</td>
								<td>
									<div class="row">
										<div class="col-md-3 offset-md-3">
										+
										21
										</div>
										<div class="col-md-1">
												<i class="fa fa-arrow-circle-up" style="color: green;"></i>
										</div>
									</div>
								</td>
							</tr>
							<tr align="center">
								<td>1500</td>
								<td></td>
								<td>
									-
								</td>
								<td>
									-

								</td>
								<td>
									-
								</td>
							</tr>
					</tbody>
				</table>
    </div>

</div>




<!--<div class="container">
	<div class="row">
		<div class="col-md-4 offset-md-2">
			<div class="table-responsive">
				<table class="table table-striped table-hover">
					<thead>
						<tr align="center">
							<th colspan="2" style="border-top: none;">Région statistics global</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="border-right: 1px solid #999" align="right">Début</td>
							<td></td>
						</tr>
						<tr>
							<td style="border-right: 1px solid #999" align="right">Last update</td>
							<td></td>
						</tr>
						<tr>
							<td style="border-right: 1px solid #999" align="right">Total players</td>
							<td><%= @game_player_statistic.get_player_all.count %></td>
						</tr>
						<tr>
							<td style="border-right: 1px solid #999" align="right">Match</td>
							<td><%= @game_tournoi_statistic.get_nb_match_all %></td>
						</tr>
						<tr>
							<td style="border-right: 1px solid #999" align="right">Tournois</td>
							<td><%= @game_tournoi_statistic.get_tournoi_all.count %></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-4">
			<div class="table-responsive">
				<table class="table table-striped table-hover">
					<thead>
						<tr align="center">
							<th colspan="2" style="border-top: none;">Région statistics saison actuelle</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="border-right: 1px solid #999" align="right">Début</td>
							<td></td>
						</tr>
						<tr>
							<td style="border-right: 1px solid #999" align="right">Last update</td>
							<td></td>
						</tr>
						<tr>
							<td style="border-right: 1px solid #999" align="right">Active players</td>
							<td><%= @game_player_statistic.get_player_saison.count %></td>
						</tr>
						<tr>
							<td style="border-right: 1px solid #999" align="right">Match</td>
							<td><%= @game_tournoi_statistic.get_nb_match_saison %></td>
						</tr>
						<tr>
							<td style="border-right: 1px solid #999" align="right">Tournois</td>
							<td><%= @game_tournoi_statistic.get_tournoi_saison.count %></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
<% if @game == "doa6" %>
	</div>
		<div class="container-fluid">
<% end %>
	<div class="row">
		<% if @game == "doa6" %>
			<div class="col-md-6">
		<% else %>
			<div class="col-md-12">
		<% end %>
			<div class="table-responsive" style="overflow-x: scroll;">
				<% if @game == "doa6" %>
					<h3>Ranking PC</h3>
				<% end %>
				<table class="table table-striped table-hover">
					<thead>
						<tr align="center">
							<th>#</th>
							<th>Player</th>
							<th>Team</th>
							<th>Elo</th>
							<th>Win Rate</th>
							<th>Total match saison</th>
							<th>Total tournoi saison</th>
							<th>Total match</th>
							<th>Total tournoi</th>
							<th>Evolution</th>
						</tr>
					</thead>
					<tbody>
					<% if @game == "doa6" %>
						<% @game_player_statistic.get_player_pc.each_with_index do |player, i| %>
							<% if i == 0 %>
								<tr align="center"><td colspan="9" style="background-color: white;"><h4>League Master</h4></td></tr>
							<% elsif i == 10 %>
								<tr align="center"><td colspan="9" style="background-color: white;"><h4>League Initiate</h4></td></tr>
							<% elsif i == 20 %>
								<tr align="center"><td colspan="9" style="background-color: white;"><h4>League Beginner</h4></td></tr>							 
							<% end %>
							<tr align="center">
								<td>
									<% if i >= 20 %>
										<%= i + 1 - 20 %>
									<% elsif i >= 10 %>
										<%= i + 1 - 10 %>
									<% else %>
										<%= i + 1 %>
									<% end %>
								</td>
								<td><%= link_to player.nickname, player_path(player.id) %></td>
								<td><%= player.team %></td>
								<td><%= player.elos.sort.last.value.round %></td>
								<td><%= @game_player_statistic.hash_win_rate[player.id] %> %</td>
								<!--<td><%= player.nb_match_saison %></td>
								<td><%= player.nb_tournoi_saison %></td>-->
								<td><%= player.nb_match_total %></td>
								<td><%= player.nb_tournoi_total %></td>
								<td>
									<% if player.ranking_previous_pc.to_i > i + 1 %>
										<i class="fa fa-arrow-circle-up" style="color: green;"></i>
									<% elsif player.ranking_previous_pc.to_i < i + 1 %>
										<i class="fa fa-arrow-circle-down" style="color: red;"></i>
									<% else %>
										<i class="fa fa-minus" style="color: black;"></i>
									<% end %>
								</td>
							</tr>
						<% end %>
					<% else %>
						<% @game_player_statistic.get_player_all.each_with_index do |player, i| %>
							<tr align="center">
								<td><%= i + 1 %></td>
								<td><%= link_to player.nickname, player_path(player.id) %></td>
								<td><%= player.team %></td>
								<td><%= player.elos.sort.last.value.round %></td>
								<td><%= @game_player_statistic.hash_win_rate[player.id] %> %</td>
								<!--<td><%= player.nb_match_saison %></td>
								<td><%= player.nb_tournoi_saison %></td>-->
								<td><%= player.nb_match_total %></td>
								<td><%= player.nb_tournoi_total %></td>
								<td>
									<% if player.ranking_previous_ps4.to_i > i + 1 %>
										<i class="fa fa-arrow-circle-up" style="color: green;"></i>
									<% elsif player.ranking_previous_ps4.to_i < i + 1 %>
										<i class="fa fa-arrow-circle-down" style="color: red;"></i>
									<% else %>
										<i class="fa fa-minus" style="color: black;"></i>
									<% end %>
								</td>
							</tr>
						<% end %>
					<% end %>
						
					</tbody>
				</table>
			</div>
		</div>
		<% if @game == "doa6" %>
			<div class="col-md-6">
				<h3>Ranking PS4</h3>
				<div class="table-responsive" style="overflow-x: scroll;">
					<table class="table table-striped table-hover">
						<thead>
							<tr align="center">
								<th>#</th>
								<th>Player</th>
								<th>Team</th>
								<th>Elo</th>
								<th>Win Rate</th>
								<!--<th>Total match saison</th>
								<th>Total tournoi saison</th>-->
								<th>Total match</th>
								<th>Total tournoi</th>
								<th>Evolution</th>
							</tr>
						</thead>
						<tbody>
							<% @game_player_statistic.get_player_ps4.each_with_index do |player, i| %>
								<% if i == 0 %>
									<tr align="center"><td colspan="9" style="background-color: white;"><h4>League Master</h4></td></tr>
								<% elsif i == 10 %>
									<tr align="center"><td colspan="9" style="background-color: white;"><h4>League Initiate</h4></td></tr>
								<% end %>
								<tr align="center">
									<td>
										<% if i >= 10 %>
											<%= i + 1 - 10 %>
										<% else %>
											<%= i + 1 %>
										<% end %>
									</td>
									<td><%= link_to player.nickname, player_path(player.id) %></td>
									<td><%= player.team %></td>
									<td><%= player.elos.sort.last.value.round %></td>
									<td><%= @game_player_statistic.hash_win_rate[player.id] %> %</td>
									<!--<td><%= player.nb_match_saison %></td>
									<td><%= player.nb_tournoi_saison %></td>-->
									<td><%= player.nb_match_total %></td>
									<td><%= player.nb_tournoi_total %></td>
									<td>
										<% if player.ranking_previous_ps4.to_i > i + 1 %>
											<i class="fa fa-arrow-circle-up" style="color: green;"></i>
										<% elsif player.ranking_previous_ps4.to_i < i + 1 %>
											<i class="fa fa-arrow-circle-down" style="color: red;"></i>
										<% else %>
											<i class="fa fa-minus" style="color: black;"></i>
										<% end %>
									</td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		<% end %>
	</div>
</div>-->