<div class="container">
	<div class="row">
		<div class="col-md-4 offset-md-2">
			<div class="table-responsive">
				<table class="table table-striped table-hover">
					<thead>
						<tr align="center">
							<th colspan="2" style="border-top: none;">Région statistics global</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="border-right: 1px solid #999" align="right">Début</td>
							<td></td>
						</tr>
						<tr>
							<td style="border-right: 1px solid #999" align="right">Last update</td>
							<td></td>
						</tr>
						<tr>
							<td style="border-right: 1px solid #999" align="right">Total players</td>
							<td><%= @game_statistic.get_player_all.count %></td>
						</tr>
						<tr>
							<td style="border-right: 1px solid #999" align="right">Match</td>
							<td><%= @game_statistic.get_nb_match_all %></td>
						</tr>
						<tr>
							<td style="border-right: 1px solid #999" align="right">Tournois</td>
							<td><%= @game_statistic.get_tournoi_all.count %></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-4">
			<div class="table-responsive">
				<table class="table table-striped table-hover">
					<thead>
						<tr align="center">
							<th colspan="2" style="border-top: none;">Région statistics saison actuelle</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="border-right: 1px solid #999" align="right">Début</td>
							<td></td>
						</tr>
						<tr>
							<td style="border-right: 1px solid #999" align="right">Last update</td>
							<td></td>
						</tr>
						<tr>
							<td style="border-right: 1px solid #999" align="right">Active players</td>
							<td><%= @game_statistic.get_player_saison.count %></td>
						</tr>
						<tr>
							<td style="border-right: 1px solid #999" align="right">Match</td>
							<td><%= @game_statistic.get_nb_match_saison %></td>
						</tr>
						<tr>
							<td style="border-right: 1px solid #999" align="right">Tournois</td>
							<td><%= @game_statistic.get_tournoi_saison.count %></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-5 offset-md-1">
			<h3>Tous les tournois</h3>
			<div class="table-responsive">
				<table class="table table-striped table-hover">
					<thead>
						<tr align="center">
							<th>Date</th>
							<th>Lieu</th>
							<th>Nom</th>
							<th>Nombre de participant</th>
							<th>Nombre de match</th>
							<th>Informations</th>
						</tr>
					</thead>
					<tbody>
						<% @game_statistic.get_tournoi_all.each do |event| %>
							<tr align="center">
								<td><%= event.tournoi_date %></td>
								<td><%= event.tournoi_place %></td>
								<td><%= event.tournoi_name %></td>
								<td><%= event.nb_participant %></td>
								<td><%= event.nb_match %></td>
								<td><%= link_to "Détails", event_path(event) %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-5">
			<div class="table-responsive">
				<h3>Tournoi saison actuelle 1</h3>
				<table class="table table-striped table-hover">
					<thead>
						<tr align="center">
							<th>Date</th>
							<th>Lieu</th>
							<th>Nom</th>
							<th>Nombre de participant</th>
							<th>Nombre de match</th>
							<th>Informations</th>
						</tr>
					</thead>
					<tbody>
						<% @game_statistic.get_tournoi_saison.each do |event| %>
							<tr align="center">
								<td><%= event.tournoi_date %></td>
								<td><%= event.tournoi_place %></td>
								<td><%= event.tournoi_name %></td>
								<td><%= event.nb_participant %></td>
								<td><%= event.nb_match %></td>
								<td><%= link_to "Détails", event_path(event) %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>