<div class="container">
	<div class="row">
		<div class="col-md-4 offset-md-2">
			<div class="table-responsive">
				<table class="table table-striped table-hover">
					<thead>
						<tr align="center">
							<th colspan="2" style="border-top: none;">Tournoi statistics</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="border-right: 1px solid #999" align="right">Nom</td>
							<td><%= @event.tournoi_name %></td>
						</tr>
						<tr>
							<td style="border-right: 1px solid #999" align="right">Date</td>
							<td><%= @event.tournoi_date %></td>
						</tr>
						<tr>
							<td style="border-right: 1px solid #999" align="right">Nombre participant</td>
							<td><%= @nb_participant %></td>
						</tr>
						<tr>
							<td style="border-right: 1px solid #999" align="right">Nombre de match</td>
							<td><%= @nb_match %></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h3>Liste des participants</h3>
			<div class="table-responsive">
				<table class="table table-striped table-hover" style="overflow-x: scroll;">
					<thead>
						<tr align="center">
							<th>Joueur</th>
							<th>Team</th>
							<th>Nombre de match</th>
							<th>Victory Rate</th>
						</tr>
					</thead>
					<tbody>
						<% @array_participant.each do |participant| %>
							<tr align="center">
								<td><%= participant.nickname %></td>
								<td><%= participant.team %></td>
								<td><%= @hash_match_participant[participant.id] %></td>
								<td><%= @hash_victory_participant[participant.id] %> %</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-6">
			<h3>Liste des matches</h3>
			<div class="table-responsive">
				<table class="table table-striped table-hover" style="overflow-x: scroll;">
					<thead>
						<tr align="center">
							<th>Joueur 1</th>
							<th>Joueur 2</th>
						</tr>
					</thead>
					<tbody>
						<% @event_matches.each do |matche| %>
							<tr align="center">
								<% if matche.result %>
									<td style="background-color: green;">
								<% else %>
									<td style="background-color: red;">
								<% end %>
									<%= Player.find(matche.player_1_id).nickname %></td>
								<% if matche.result %>
									<td style="background-color: red;">
								<% else %>
									<td style="background-color: green;">
								<% end %>
								<%= Player.find(matche.player_2_id).nickname %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>