<footer class="text-muted small">
	<div class="footer-bottom text-center">
		<p>Retrouvez nous sur <%= link_to "Discord", "https://discord.gg/fybPARR" %>.</p>
		<p>Développé à l'aide de l'API Smash.gg.</p>
		<p>Logo par: <%= link_to "Seb Arts", "https://www.behance.net/sebastienarts/info" %></p>
		<div class="row" align="center">
			<div class="col-md-2 offset-md-5">
				<%= image_tag "vsfe8.png", alt: 'VSFE Logo', class: "logo" %>
			</div>
		</div>
		<div class="nav-item">
          <% if current_user %>
            <%= link_to "Deconnection", logout_path, class: "nav-link" %>
          <% else %>
            <%= link_to "Connection", login_path, class: "nav-link" %>
          <% end %>
		<p>VSFE - 2019 - &copy; Tous droits résérvés - <%= link_to "Crédit et mentions légales" %> </p>
	</div>
</footer>