<nav class="navbar">
<%= link_to image_tag("vsfe5.png", class: "logo"), root_path %>
<!-- Button menu -->
    <div class="menu-btn">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
    </div>

    <div class="menu">
        <div class="menu-branding">
            <div class="vsfe-logo">
              <%= link_to image_tag("vsfe4.png", class: "logo"), root_path %>
            </div>
            <div>
            <div class="btn">Login</div>
            <div class="btn">Sign up</div>
            </div>
        </div>
        <ul class="menu-nav">
         <li class="nav-item">
            <a href="" class="nav-link">
             Home
            </a>
         </li>
         <li class="nav-item">
            <a href="" class="nav-link">
             Games
            </a>
         </li>
         <li class="nav-item">
            <a href="" class="nav-link">
             Tournaments
            </a>
         </li>
         <li class="nav-item">
            <a href="" class="nav-link">
             Info
            </a>
         </li>
        </ul>
        <div class="navbar-icons" >
        <%= link_to raw("<i class='fab fa-facebook-square'></i>"), 'https://www.facebook.com/VSFightingEsport' %>
        <%= link_to raw("<i class='fab fa-twitter-square'></i>"), 'https://twitter.com/VSFEsport' %>
        <%= link_to raw("<i class='fab fa-discord'></i>"), 'https://discord.gg/fybPARR' %>
        <%= link_to raw("<i class='fab fa-instagram'></i>"), 'https://www.instagram.com/vsf_esport/' %>
        </div>
    </div>
   

</nav>
<div class="navbar-title" align="center">
	<p class="subheading">Versus Fighting Esport French Progaming Statistics</p>
</div>