<nav class="navbar">
<%= link_to image_tag("vsfe6.png", class: "logo"), root_path %>
<!-- Navbar menu large-->
<div class="navbar-menu-large">
    <ul class="menu-large">
         <li class="">
            <%= link_to "Accueil", root_path, class: "" %>
        </li>
         <li class="">
            <%= link_to "Les jeux", informations_games_path, class: "" %>
         </li>
         <li class="">
            <%= link_to "Tournois", root_path, class: "" %>            
         </li>
         <li class="">
             <%= link_to "Info", root_path, class: "" %>            
         </li>
        </ul>
        <div>
        <% if current_user %>
            <%= link_to "Deconnection", logout_path, class: "btn" %>
            <% else %>
            <%= link_to "Connection", login_path, class: "btn" %>
            <%= link_to "Inscription", login_path, class: "btn" %>
            <% end %>
        </div>
    </div>

<!-- Button menu -->
    <div class="menu-btn">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
    </div>

    <div class="menu">
        <div class="menu-branding">
            <div class="vsfe-logo">
              <%= link_to image_tag("vsfe4.png", class: "logo"), root_path %>
            </div>
            <div>
            <% if current_user %>
                <%= link_to "Deconnection", logout_path, class: "btn" %>
                <% else %>
                <%= link_to "Connection", login_path, class: "btn" %>
                <%= link_to "Inscription", login_path, class: "btn" %>
                <% end %>
            </div>
        </div>

        <ul class="menu-nav">
         <li class="nav-item">
            <%= link_to "Accueil", root_path, class: "nav-link" %>
         </li>
         <li class="nav-item">
            <%= link_to "Les jeux", informations_games_path, class: "nav-link" %>
         </li>
         <li class="nav-item">
            <%= link_to "Tournois", root_path, class: "nav-link" %>
         </li>
         <li class="nav-item">
            <%= link_to "Info", root_path, class: "nav-link" %>
         </li>
        </ul>
        <div class="navbar-icons" >
        <%= link_to raw("<i class='fab fa-facebook-square'></i>"), 'https://www.facebook.com/VSFightingEsport' %>
        <%= link_to raw("<i class='fab fa-twitter-square'></i>"), 'https://twitter.com/VSFEsport' %>
        <%= link_to raw("<i class='fab fa-discord'></i>"), 'https://discord.gg/fybPARR' %>
        <%= link_to raw("<i class='fab fa-instagram'></i>"), 'https://www.instagram.com/vsf_esport/' %>
        </div>
    </div>
    
   

</nav>
<!--<div class="navbar-title" align="center">
	<p class="subheading">Versus Fighting Esport French Progaming Statistics</p>
</div>-->