<div class="content-games">
    <div class="search-games">
        <input type="text" placeholder="Recherche de jeux..." id="searchInput" name="search" class="hide">
        <i class='fa fa-search' id="fa-search"></i>
    </div>

    <div class="games-list">
        <div class="game">
            <div class="game-info">
              <h3 class="game-title">Tekken 7</h3>
              <p>lorem description du jeux sur 4 lignes max </p>
            </div>
            <div class="game-img">
              <%= link_to image_tag("t7", class: ""), root_path %>
            </div>
        </div>

        <div class="game">
          <div class="game-info">
            <h3 class="game-title">Dead or Alive 6</h3>
            <p>lorem description du jeux sur 4 lignes max </p>
          </div>
          <div class="game-img">
            <%= link_to image_tag("doa6", class: ""), root_path %>
          </div>
        </div>

        <div class="game">
          <div class="game-info">
            <h3 class="game-title">Mortal Kombat 11</h3>
            <p>lorem description du jeux sur 4 lignes max </p>
          </div>
          <div class="game-img">
            <%= link_to image_tag("mk11", class: ""), root_path %>
          </div>
        </div>

        <div class="game">
          <div class="game-info">
            <h3 class="game-title">Guilty Gear Xrd</h3>
            <p>lorem description du jeux sur 4 lignes max </p>
          </div>
          <div class="game-img">
            <%= link_to image_tag("gg", class: ""), root_path %>
          </div>
        </div>
        <div class="game">
          <div class="game-info">
            <h3 class="game-title">Soul Calibur VI</h3>
            <p>lorem description du jeux sur 4 lignes max </p>
          </div>
          <div class="game-img">
            <%= link_to image_tag("sc6", class: ""), root_path %>
          </div>
        </div>
        <div class="game">
          <div class="game-info">
            <h3 class="game-title">Super Smash Bros Ultimate</h3>
            <p>lorem description du jeux sur 4 lignes max </p>
          </div>
          <div class="game-img">
            <%= link_to image_tag("ssu", class: ""), root_path %>
          </div>
        </div>



    </div>
</div>